.text-center  {
   text-align: center;

}

.p {
  font-size: 2.875rem;
  font-family: sans-serif;
  color: rgb(255, 255, 255)
}

body {
   background-color: #1f1f1f;

}

.font-bold {
    font-weight: 700;
}

.font-games {
    font-weight: 600;
}

p {
  font-size: 1.8rem;
  font-family: sans-serif;
  color: rgb(255, 255, 255)

}

.main {
  text-align: center;


}

.pp {
  font-size: 2.875rem;
  font-family: sans-serif;
  color: rgb(255, 0, 0)
}

.space {
    color: white;
  font-weight: 200;
}

.oo {
    text-align: center;
    color: white;
    font-weight: 600;
   font-style: initial;
}

.link {
   font-weight: 500;
   display: flex;            
  justify-content: center;   
  width: 100%;              
  font-size: large;

}

.container {
  position: relative; 
  width: 100%;
  height: 400px;
}

.image {
  position: absolute;
  top: 20px;   
  left: 50px;  
}

.content-block {
  display: block; 
  width: fit-content; }

.content-block img {
  display: block; 
  max-width: 100%; 
  height: auto;
}

.font-games1 {
    font-weight: 600;
}